* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Bangla", Arial, sans-serif !important; */
  /* max-width: 1400px;
  margin: 0 auto !important; */
}
/* SingleProduct Css */

/* .logo-img {
	width: 80px !important;
} */

.productCart {
  visibility: hidden;
  opacity: 0;
}

.product:hover .productCart {
  visibility: visible;
  opacity: 1;
  transition: all 600ms ease-in-out;
}

.product:hover .productImg {
  /* background-image: linear-gradient(180deg, #1d1c3a 0%, transparent 95%); */

  background-position: 100% 0;
}

/* single product details img gallery slider */
.image-gallery-slide-wrapper {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.image-gallery-image {
  width: 100%;
  height: 450px;
  margin-bottom: 40px;
  transition: 0.3s;
}

.image-gallery-image:hover {
  transform: scale(1.6);
  border-radius: 5px;
}

.image-gallery-left-nav {
  display: none;
}

.image-gallery-right-nav {
  display: none !important;
}

.image-gallery-thumbnails-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.image-gallery-thumbnails-container button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.image-gallery-thumbnail:hover {
  outline: none;
  border: 2px solid #0c4e67 !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 2px solid #0c4e67 !important;
}

/* pagination css */
.paginationBttns {
  width: 100%;

  padding: 6px;
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 2px;
}
.paginationBttns a {
  padding: 3px 12px;
  border-radius: 5px;
  font-size: 20px;
  /* font-weight: 600; */
  /* color: white; */
  /* background-color: rgb(156, 150, 150); */
  border: 1px solid gray;
}

.paginationBttns a:hover {
  background-color: indigo;
  color: white;
}
/* .prevBttn,
.nextBttn {
  padding: 3px 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgb(156, 150, 150);
} */
.paginationdisabled {
  /* padding: 3px, 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: 2px solid gray; */
}

.paginationActive a {
  background-color: indigo;
  color: white;
  /* font-weight: 600; */
  /* border: 2px solid indigo; */
  /* border-color: indigo; */
}

.paginationBttn {
  /* padding: 3px, 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid gray; */
}
/* swippper css  */
.swiper .swiper-button-prev,
.swiper-button-next {
  padding: 25px;
  font-size: 5px;
  /* background-color: gray; */
  opacity: 0;
  visibility: hidden;
}
.swiper:hover .swiper-button-prev {
  color: white;
  opacity: 1;
  font-size: 5px !important;
  visibility: visible;
}
.swiper:hover .swiper-button-next {
  color: white;
  opacity: 1;
  font-size: 5px !important;
  visibility: visible;
}
/* swipper end */

/* navbar  */
/* .navbarShadow {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 3px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
} */

/* video overlay */
/* .video-container {
  position: relative;
  display: inline-block;
} */

.video-container {
  position: relative;
  /* width: 400px; Adjust width and height as needed */
  /* height: 300px; */
  overflow: hidden;
  background: transparent;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
}
/* 
.play-container{
  display: fel;
} */

/* .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
} */

/* text editor main div css */

.quill .ql-editor {
  min-height: 300px;
}

@media (min-width: 765px) and (max-width: 940px) {
  body {
    /* background-color: #de3163; */
  }
  .newsTitle {
    font-size: 10px !important;
    /* background-color: blue; */
  }
  .newsDate {
    font-size: 10px !important;
  }
  .videosTitle {
    font-size: 10px !important;
    /* background-color: blue; */
  }
  .newsDate {
    font-size: 10px !important;
  }
}
@media (min-width: 370px) and (max-width: 700px) {
  .bannericonimg {
    width: 6px !important;
  }
  .bannericontext {
    font-size: 7px !important;
  }

  .bannericondiv {
    padding: 9px !important;
  }
}
